.filename{
    display: flex;
    min-width: 0;
}
.filename_base{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.filename_extension{
    flex-shrink: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 470px;
    margin: 0 50px;
    font-size: 20px;
    font-family: sans-serif;
}